body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    max-width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}
.card:hover{
    background-color: #87ceeb;
    transform: scale(1.05);
}
h2{
    margin: 0;
}
.message{
    margin: 10px 0 0;
    color: #333;
}
@media screen and (max-width: 480px) {
    .card{
        width: 90%;
        padding: 10px;
        font-size: 14px;
    }
    h2{
        font-size: 18px;
    }
    .message{
        font-size: 14px;
    }
}


































